accelerate==1.10.1
bitsandbytes==0.48.1
flash_attn==2.8.3
fsspec==2025.9.0
grpcio==1.80.0
hf-xet==1.4.3
hf_transfer==0.1.9
huggingface_hub==0.36.2
Jinja2==3.1.6
langchain-core==1.2.28
langchain-openai==1.1.12
langsmith==0.7.31
numpy==2.2.6
ollama==0.6.0
openai==2.31.0
protobuf==7.34.1
pydantic==2.12.0
pydantic_core==2.41.1
qdrant-client==1.15.1
requests==2.32.5
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.15.3
sentence-transformers==5.4.1
spacy==3.8.14
sympy==1.14.0
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.19.1
torch==2.8.0
tqdm==4.67.1
transformers==4.40.0
urllib3==2.5.0